<!doctype html>
<html>
    <head>
        <meta charset="utf-8">                                     <!-- linea di commento -->
        <link rel="stylesheet" href="style.css">
        <title>Layout</title>
    </head>

    <body>

        <header></header>   

        <div class="container">                                    <!-- Contenitore diviso in tre sezioni centrate -->
            <div class="card">            </div>
            <div class="card">            </div>
            <div class="card">            </div>
        </div>

        <div class="container">                                    <!-- Contenitore diviso in due sezioni centrate -->
            <div class="banner">            </div>
            <div class="banner">            </div>
        </div>

        <div class="container">                                    <!-- Contenitore diviso in otto sezioni centrate -->
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
        </div>

          <div class="container" style="margin-top: -16px;">       <!-- Contenitore diviso in otto sezioni centrate -->
            <div class="multibox">            </div>               <!-- E' stato tolto il margine superiore in modo da uniformare i due contenitori -->
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div>
            <div class="multibox">            </div></div>
    </body>
</html>