* {margin:0;padding:0;box-sizing:border-box;}

body {background-color:white;}

h1 {text-align: center; margin-top:20px;}

header {background-color:grey; display:flex; padding:10px; justify-content: left; align-items: center;}

nav ul {list-style-type: none; font-size: 20px; display:flex; position:relative;}

nav ul li {padding:10px; margin:10px; border-style:solid; border-radius:4px; background-color:grey;}

nav ul li a {text-decoration:none; color:indigo;}

nav ul ul {display:none; position:absolute; left:0;}

nav ul li a:hover {color:antiquewhite;}

.sottomenu {width:200px; height:190px; background-color:black; top:57px; right:10px;}

ul li:hover .sottomenu {display:block;}

.sottomenu1 {width:200px; height:190px; background-color:red; top:57px; left:90px;}

ul li:hover .sottomenu1 {display:block;}

.sottomenu2 {width:200px; height:190px; background-color:yellow; top:57px; left:180px;}

ul li:hover .sottomenu2 {display:block;}

.sottomenu3 {width:200px; height:190px; background-color:blue; top:57px; left:270px;}

ul li:hover .sottomenu3 {display:block;}
